@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

* {
  box-sizing: border-box;
  padding: 0 ;
  margin: 0;
}
html {
  font-family: Roobert;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  margin-bottom: 1px;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  overflow-x: hidden;
  background: #e3f4fb;
  align-items: center;
}

.overall-container {
  margin: 0 auto;

}
.overall-container > h1 {
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 1.2;
  font-family: Roboto;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}

.overall-container > .text-center {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.6;
  --tw-text-opacity: 1 !important;
  color: rgba(82, 82, 93, var(--tw-text-opacity)) !important;
  max-width: 48rem !important;
  margin-top: 1rem !important;
  margin-left: auto !important;
  margin-right: auto !important;
  
}
.carousel-flex {
  justify-content: space-around;
}

.cards-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  /* justify-content: space-around; */
}

.grid {
  min-width: 300px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  gap: 1.25rem !important;
  margin: 4px;
  box-shadow:unset;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin: 10px;
  /* padding: 1.5rem !important; */
}
a:hover {
  color: black;
  text-decoration: none;
  box-shadow:1px 1px 10px rgb(58, 54, 54);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}
li{
    list-style: none;
}
.purple-container{
    background-color: rgba(123, 63, 228,1);
    display: flex;
    width: 90%;
    margin: 0 auto; 
    border-radius: 10px; padding: 20px; 
}
ul>li ,.purple-container>section>div>h2, .p-tag{
    color: whitesmoke;
  
}

.purple-container>section>div>h2{
    margin-bottom: 1.25rem  !important;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
}

.btn{
border-radius: 20px;
background-color: whitesmoke !important;
color: black !important;
font-size: large;
}
.btn:hover{
    text-decoration: none;
}

.tetris{
    display: block;
    max-width: 100%;
    height: auto;
}
img{
    max-width: 100%;
    height: auto;
    /* display: block; */
}
/* MEDIA QUERY */

@media only screen and (max-width: 600px) {
    .purple-container{
        padding: 10px;
        flex-direction: column;
    }

    .purple-container>section>div>h2{
        font-size: 1.625rem;
        line-height: 1.5;

    }
    .tetris{
        display: block;
        height: 275px !important;
        float: right;
    }
    ul>li{
        line-height: 1.5;
    }
    
  }