@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0 ;
  margin: 0;
}


body {
  font-family: system-ui, -apple-system, /* Firefox supports this but not yet `system-ui` */ 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  height: 100vh;
  width: 100%;
  background: #f7f8f9;
  /* align-items: center; */
  margin: 0 auto;
  overflow-x: hidden !important;
}

/*beginning of nav-bar*/
header{
  position: fixed;
}
.nav-logo{
  margin-left: 70px;
  margin-right: 40px;
}
.nav-bar {
  width: 100% !important;
  height: 17%;
  background-color:#fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  /* transition: 0.3s; */
  padding-top:15px ;

}
.menu{
  display: flex;
}
.nav-item{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #111;
  margin: 2px;
  margin-right: 30px;
  font-size: 16px;
  line-height: 1.25;
  cursor: pointer;
  margin-top: 15px;
  font-weight:lighter;
  
}
.nav-item:hover{
  color: rgba(123, 63, 228,1);
}

  
#nav-btn{
  margin-left:7rem ;
  margin-right:3rem;
  background-color: rgba(123, 63, 228,1);
  color: #fff;
  padding: 7px 19px;
  text-align: center;
  border: 0px;
  border-radius: 20px;
  font-size: 15px;
  padding: 10px 22px;
  font-weight: bold;
}
.arrow-down{
  border:  1px solid  black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 10px;
  margin-top:-5px ;
  place-items: center;
}
.arrow-down:hover{
  border:  1px solid rgba(123, 63, 228,1);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-left: 10px;
  margin-top: 5px;
  
  
}
.hamburger{
  position: relative;
  width: 25px;
  height: 4px;
  background: #111;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 2;
}
.hamburger::before,
.hamburger::after{
  content: "";
  position: absolute;
  height: 4px;
  right: 0;
  background: #111;
  border-radius: 10px;
  transition: 0.3s;
}
.hamburger::before{
  top: -10px;
  width: 25px;

}
.hamburger::after{
  top: 10px;
  width: 25px;
}
.toggle-menu{
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
}
.hamburger,
.toggle-menu{
  display: none;
}
.navigation input:checked ~ .hamburger{
  background: transparent;
}
.navigation input:checked ~ .hamburger::before{
  top: 0;
  transform: rotate(-45deg);
  width: 25px;
}
.navigation input:checked ~ .hamburger::after{
  top: 0;
  transform: rotate(45deg);
  width: 25px;
}

.navigation input:checked ~ .menu{
  right: 0;
}
/*end of nav-bar*/

/*begining of section-1*/
.overall-container{
  padding-top: 100px;
}
.polygon-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 200px;
  background-image: linear-gradient(rgb(233, 223, 247), rgb(246, 246, 247));
}
.sec1-h1{
  font-family: inherit;
  font-size: 70px;
  font-weight: 900;
  line-height: 1.2;
  text-align: center;
  padding: 20px 100px;
}

.text-center {
  font-size: 20px;
  font-weight:lighter;
  line-height: 1.8;
  color: rgba(82, 82, 93, 1);
  padding: 10px 90px;
  text-align: center;
   
}

/* abiodun part */

.eth-head {
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 1.2;
  text-align: center;
  width: 700px; 
  margin: auto; 
}

.carousel-cont {
  border: 1px solid rgb(161, 158, 158) !important;
}

.grid {
  min-width: 300px !important;
  padding: 10px !important;
  background-color: white !important;
  border-radius: 10px !important;
  gap: 1.25rem !important;
  margin: 4px !important;
  box-shadow: unset !important;
  height: 100px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start !important;
  justify-content: space-around !important;
  max-width: fit-content !important;
}

.li-class{
  color: black !important;
}

.a-class {
  text-decoration: none !important;
  color: black !important;
  cursor: pointer !important;
  display: flex !important;
  flex-direction: row !important;
  border-radius: 10px !important;
  margin: 10px !important;
  /* padding: 1.5rem !important; */
}
.aclass:hover {
  color: black !important;
  text-decoration: none !important;
  box-shadow: 1px 1px 10px rgb(58, 54, 54) !important;
}

li {
  list-style: none;
}
.purple-container {
  background-color: rgba(123, 63, 228, 1);
  display: flex;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
}
.purple-list,
.purple-container > section > div > h2,
.p-tag {
  color: whitesmoke;
}

.purple-container > section > div > h2 {
  margin-bottom: 1.25rem !important;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.btn {
  border-radius: 20px;
  background-color: whitesmoke !important;
  color: black !important;
  font-size: large;
}
.btn:hover {
  text-decoration: none;
}

.tetris {
  display: block;
  max-width: 100%;
  height: auto;
}
.mr-3,
.img-fluid {
  max-width: 100%;
  height: auto;
  /* display: block; */
}

span {
  font-family: inherit;
}


.carousel-flex {
    justify-content: space-around;
  }
  
  .cards-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: space-between;
    margin: auto;
  }

  .cards-container::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}


.marquee-styling {
  background-color: white !important;
  flex-shrink: 0 !important;
  display: flex !important;
  justify-content: space-around !important;
  gap: 1rem !important;
}
.marquee-div {
  border-radius: 10px !important ;
  margin: auto !important;
  max-width: 95% !important;
  box-shadow: 1px 1px 10px rgb(58, 54, 54) !important;
  margin-bottom: 100px !important;
  margin-top: 50px !important;
  display: flex !important;
  overflow: hidden !important;
  user-select: none !important;
  gap: 1rem !important;
  font-family: inherit !important;
  /* height: 200px; */
}
.myDIV {
  background-color: #ffffff;
  height: fit-content;
  display: grid;
  gap: 10px;
  padding: 20px;
  grid-template-columns: auto auto;
  box-shadow: 1px 1px 10px rgb(58, 54, 54);
  width: 90%;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .marquee-div {
    display: none !important;
  }
}
@media only screen and (min-width: 600px) {
  .myDIV {
    display: none;
  }
}


.carousel-flex {
  justify-content: space-around;
}

.cards-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  /* justify-content: space-around; */
}

.grid {
  min-width: 300px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  gap: 1.25rem !important;
  margin: 4px;
  box-shadow:unset;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin: 10px;
  /* padding: 1.5rem !important; */
}
.a-class:hover {
  color: black;
  text-decoration: none;
  box-shadow:1px 1px 10px rgb(58, 54, 54);
}
.a-class{
  color: black !important;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}
li{
    list-style: none;
}
.purple-container{
    background-color: rgba(123, 63, 228,1);
    display: flex;
    width: 90%;
    margin: 0 auto; 
    border-radius: 10px;
     padding: 20px; 
     margin-bottom: 100px !important;
}
ul>li ,.purple-container>section>div>h2, .p-tag{
    color: whitesmoke;
  
}

.purple-container>section>div>h2{
    margin-bottom: 1.25rem  !important;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
}

.btn{
border-radius: 20px;
background-color: whitesmoke !important;
color: black !important;
font-size: large;
}
.btn:hover{
    text-decoration: none;
}

.tetris{
    display: block;
    max-width: 100%;
    height: auto;
}
img{
    max-width: 100%;
    height: auto;
    /* display: block; */
}

/*end of section-1*/

/*beginning of section 2*/
.section-5{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 2px rgb(242, 247, 251);
  margin: 80px 65px;
  
}
.dapps{
  font-family: inherit;
  padding-left: 50px;
  padding-right: 50px;
  font-family: inherit;
  padding-top: 30px;
  font-weight: 400;

}
.h1-sec5{
  font-size: 40px;
  margin-bottom: 20px;
}
.p-sec5{
  font-size: 18px;
  color: grey;
  margin-bottom: 50px;
}
.btn-sec5{
  margin-top: 70px;
  padding: 15px 20px;
  background-color: rgba(123, 63, 228,1);
  border: 0px;
  border-radius: 30px 30px;
  color: #fff;
  font-size: 16px;
}
.animation2{
  overflow: hidden;
  width:80% ;
  position: relative;
  margin-top: 70px;
  margin-bottom: 50px;
  
}  

.slider{
  overflow: hidden;
  position: relative;
  width: auto;
}
.slider::before{
  background: linear-gradient(to right, rgba(255,255,255) 0%, rgba(255,255,255,0) 100%);
  content: "";
  position: absolute;
  height: 100%;
  width: 35%;
  z-index: 2;
  left: 0;
}
.slide-track {
  animation: scroll 120s linear infinite;
  display: flex;
  width: calc(250px * 6);
}
.slider img{
  width: 800px;
  height: 400px;
}
.slide{
  display: flex;
}

@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100%{
      transform: translateX(calc(-250px * 12));
  }
}



.btn-btn{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blur-btn{
  position: relative;
  padding: 4.5rem 8.5rem;
  border: 0px;
  border-radius: 70px 70px;
  opacity: 1;
  background-color: hsla(0,0%,100%,.6);
  backdrop-filter: blur(24px);
  
}

.explore-btn{
  position: absolute;
  padding: 1.2rem 1.5rem;
  background-color: rgba(123, 63, 228,1);
  border: 0px;
  border-radius: 30px 30px;
  color: #fff;
  font-size: 16px;
}
/*end of section 2*/
/* MEDIA QUERY */

@media only screen and (max-width: 600px) {
  /*beginning of section-1*/
    .purple-container{
        padding: 10px;
        flex-direction: column;
    }

    .purple-container>section>div>h2{
        font-size: 1.625rem;
        line-height: 1.5;

    }
    .tetris{
        display: block;
        height: 275px !important;
        float: right;
    }
    ul>li{
        line-height: 1.5;
    }
    /*end of section-1*/
    
  }
  
  /* Nkejah Ruth's CSS */
  .h2style3 {
    text-align: center;
  }
  .live-btn {
    color:  rgba(123, 63, 228,1);
    border-radius: 0%;
  background-color:rgb(233, 223, 247);
border: none;
font-size: 15px;
padding: 5px 10px 5px 10px ;
  }
  .publictnetbtn{
    color:  rgb(233, 223, 247);
    border-radius: 0%;
  background-color:  rgba(123, 63, 228,1);
border: none;
font-size: 15px;
padding: 5px 10px 5px 10px ;
  }
  .devlopbtn{
    color:  rgb(216, 72, 6);
    border-radius: 0%;
  background-color:rgb(241, 218, 211);
border: none;
font-size: 15px;
padding: 5px 10px 5px 10px ; 
  }
  .live4btn{
    color:  rgba(123, 63, 228,1);
    border-radius: 0%;
  background-color:rgb(233, 223, 247);
border: none;
font-size: 15px;
padding: 5px 10px 5px 10px ;
  }
  .mainnetbetabtn{
    color:  rgb(233, 223, 247);
    border-radius: 0%;
  background-color:  rgba(123, 63, 228,1);
border: none;
font-size: 15px;
padding: 5px 10px 5px 10px ;
  }
  .dev6btn{
    color:  rgb(216, 72, 6);
    border-radius: 0%;
  background-color:rgb(241, 218, 211);
border: none;
font-size: 15px;
padding: 5px 10px 5px 10px ; 
  }
  .dev7btn{
    color:  rgb(216, 72, 6);
    border-radius: 0%;
  background-color:rgb(241, 218, 211);
border: none;
font-size: 15px;
padding: 5px 10px 5px 10px ; 
  }
  .live8btn{
    color:  rgba(123, 63, 228,1);
    border-radius: 0%;
  background-color:rgb(233, 223, 247);
border: none;
font-size: 15px;
padding: 5px 10px 5px 10px ;
  }

.grid-container1 {
    display: inline-grid;
    grid-template-columns: auto auto;
text-align: left;
padding: 20px;
}
p{
  text-align: center;
  
}
.flexone {
  border: 0.5px solid rgb(190, 200, 211);
  padding: 20px;
  line-height: 1.5em;
  font-size: 15px;
}
.flextwo {
  border: 0.5px solid rgb(190, 200, 211);
  padding: 20px;
  line-height: 1.5em;
  font-size: 15px;
}
.flexthree {
  border: 0.5px solid rgb(190, 200, 211);
  padding: 20px;
  line-height: 1.5em;
  font-size: 15px;
}
.flexfour {
  border: 0.5px solid rgb(190, 200, 211);
  padding: 20px;
  line-height: 1.5em;
  font-size: 15px;
}
.flexfive {
  border: 0.5px solid rgb(190, 200, 211);
  padding: 20px;
  line-height: 1.5em;
  font-size: 15px;
}
.flexsix {
  border: 0.5px solid rgb(190, 200, 211);
  padding: 20px;
  line-height: 1.5em;
  font-size: 15px;
}
.flexseven {
  border: 0.5px solid rgb(190, 200, 211);
  padding: 20px;
  line-height: 1.5em;
  font-size: 15px;
}
.flexeight {
  border: 0.5px solid rgb(190, 200, 211);
  padding: 20px;
  line-height: 1.5em;
  font-size: 15px;
}
.flexnine {
  text-align: center;
  border: 0.5px solid rgb(190, 200, 211);
  padding: 20px;
  line-height: 1.5em;
  color: rgb(153, 149, 149);
  font-size: 15px;
}

/* This is the end of Nkejah Ruth's CSS */
/* The beginning of the ETH accessibility section number 3  */
.polygon-makes{
  text-align: center;
  color: rgba(41,41,52,var);
}

.eth-compact{
  color: black;
  
}

.eth-img{
  max-width: 20%;
  
}

.polygon-accessibility {
    display: flex;
    justify-content:space-around;
    margin-left: 20px;
    margin-right: 20px;
    
  }

  .eth-compactibility{
    flex:1;
    height: 400px;
    text-align: center;
    
  }

  .eth-scalability{
    flex:1;
    text-align: center;
  }

  .eth-security{
    flex:1;
    text-align: center;
  }

  .dev-experience{
    flex:1;
    text-align: center;
  }




  .smart-contract-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #193d45;
    border-radius: 0.75rem;
    
  }

  .smart-contract-box-1{
    
    color: white;
    
  } 
  
  .smart-contract{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
  }
 
  .carbon{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }

  .smart-contract-btn {
    background-color: white;
    border: none;
    border-radius: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    width: 150px;
    cursor: pointer;
  }
  
 
  /* @media  min-width: 700px { 

  
}

@media min-width: 992px {

}

@media min-width: 1392px {

}  */

/* The end of the ETH accessibility section number 3  */


/* css for footer peace sandy's part*/

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: rgba(10, 10, 10, 13);
  background-color: rgb(20, 20, 20);
}



.links{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: -40px;
  width: 1500px;
  column-gap: 5em;
  justify-content: center;
  background-color: rgb(51, 50, 50);
}
  
.second{
  height: 50%;
}

.container-polygon{
  padding-left: 10%;
}

.hr{
  color: white;
}

a:link{
  text-decoration: none;
}

.scaling-container{
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
}

a{
  color: #fff;
}

.img{
  width: 30%;
  height: 20%;
}

ul{
  list-style-type: none;
 
}

li{
  list-style-type: none;
  /* padding: 10px; */
}

h5{
  color: #fff;
  font-size: 25px;
}

.english{
  margin-left: 1180px;
  display: flex;
  color: #fff;
}

h4{
  color: #fff;
  font-size: 15px;
  padding-left: 10%;
}

h6{
  color: #fff;
  font-size: 20px;
  padding-left: 80%;
}

/*foooter peace sandy's part*/


/* MEDIA QUERY */
@media (min-width: 320px) and (max-width: 767px){
  .eth-head{
    font-size: 2rem;
  }
}